<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.minnan.rental.domain.mapper.RoomMapper">

    <update id="updateRoomStatusBatch">
        <foreach collection="roomList" item="room" separator=";">
            update rental_room set type = #{room.type}, update_user_id = #{room.updateUserId},
            update_user_name = #{room.updateUserName} ,update_time = #{room.updateTime}
            where id = #{room.id}
        </foreach>
    </update>

    <select id="getRoomList" resultType="site.minnan.rental.domain.vo.utility.UtilityInitVO">
        select t1.id roomId, t1.room_number roomNumber, t2.water currentWater, t2.electricity currentElectricity
        from rental_room t1 left join rental_utility t2 on t1.id = t2.room_id
        where t1.house_id = #{houseId} and t1.floor = #{floor} and t2.status = #{status}
    </select>

    <!--获取当前押金-->
    <select id="getCurrentDeposit" resultType="java.lang.Integer">
        select t4.deposit deposit
        from rental_room t1
        left join rental_tenant t2 on t1.id = t2.room_id
        left join rental_bill_tenant_relevance t3 on t3.tenant_id = t2.id
        left join rental_bill t4 on t3.bill_id = t4.id
        where t4.type = 'CHECK_IN' and t2.status = 'LIVING' and t1.id = #{roomId}
        limit 1
    </select>
</mapper>